﻿.panel-actions {
  margin-top: -20px;
  margin-bottom: 0;
  text-align: right;
}

.btn-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

/* Get Rid Of The Actual Checkbox */
input[type=radio],
input[type=checkbox]{
   position: absolute;
   display:none;
   visibility:hidden;
}

/* A Little Non-Selectable Magic */
label,
div.checkbox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Default, Non Checked State */
div.checkbox {
   display: inline-block;
   background:green;
   color: #FFF;
}

/* Checkbox Toggled Hack with Checked State as our Background Position */
input[type=radio]:checked ~ div.radio,
input[type=checkbox]:checked ~ div.checkbox{
   background-position: -14px 0px;
   background:orange;
   color: #000;
}

.glyphicon-resize-small,
.glyphicon-resize-full {
    color:white
}

.filterLabel {
    margin-left:8px;
    background:yellow;
}

.countLabel {
    margin-left: 8px;
    margin-right: 8px;
}

/* CSS used here will be applied after bootstrap.css */
.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}